<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>173460863108-iekll9ktt5dvsgssbca0msjd2rr9rvkt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.173460863108-iekll9ktt5dvsgssbca0msjd2rr9rvkt</string>
	<key>API_KEY</key>
	<string>AIzaSyABx9daYeJjAVwt-CVzwTq4u26UxEBTaLM</string>
	<key>GCM_SENDER_ID</key>
	<string>173460863108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authGoogle</string>
	<key>PROJECT_ID</key>
	<string>auth-28ab1</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-28ab1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:173460863108:ios:ba2d979c33da5f5a6aead1</string>
</dict>
</plist>